@model IEnumerable<SignalRChat.Areas.Chat.Models.Chatroom>

@{
    ViewData["Title"] = "Index";
}

<h1>Chatrooms</h1>
<p>
    <a class="btn btn-lg btn-primary" asp-action="Create">Create New</a>
</p>

<div class="container">
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-sm-5">
                <a class="btn btn-lg btn-link" asp-action="Details" asp-route-id="@item.Id">
                    @Html.DisplayFor(modelItem => item.Name)
                </a>
            </div>
            <div class="col-sm-2">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ACTIONS
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">Change Room Name</a>
                        <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
